button:not(.yt-spec-button-shape-next--segmented-start):not(.yt-spec-button-shape-next--segmented-end):not(#search-icon-legacy) {
    border-radius: var(--border-radius-rect) !important;
}

.yt-spec-button-shape-next--segmented-start {
    border-top-left-radius: var(--border-radius-rect) !important;
    border-bottom-left-radius: var(--border-radius-rect) !important;
}
.yt-spec-button-shape-next--segmented-end {
    border-top-right-radius: var(--border-radius-rect) !important;
    border-bottom-right-radius: var(--border-radius-rect) !important;
}
