/* OTHER UPPERCASE */
/* JOIN */
#sponsor yt-button-shape button,
#sponsor-button yt-button-shape button,
ytd-sponsor-button-renderer yt-button-shape button,
#sponsor yt-button-shape a[aria-label="Join"],
#sponsor-button yt-button-shape a[aria-label="Join"],
ytd-sponsor-button-renderer yt-button-shape a[aria-label="Join"] {
    text-transform: uppercase !important;
}
/* BUY */
#buy yt-button-shape button,
#buy-button yt-button-shape button,
ytd-buy-button-renderer yt-button-shape button,
#buy yt-button-shape a[aria-label="Join"],
#buy-button yt-button-shape a[aria-label="Join"],
ytd-buy-button-renderer yt-button-shape a[aria-label="Join"] {
    text-transform: uppercase !important;
}
/* TRY IT */
#action yt-button-shape button,
#action-button yt-button-shape button,
ytd-action-button-renderer yt-button-shape button {
    text-transform: uppercase !important;
}
/* COPY */
#copy yt-button-shape button,
#copy-button yt-button-shape button,
ytd-copy-button-renderer yt-button-shape button {
    text-transform: uppercase !important;
}

/* SUBSCRIBE */
#subscribe yt-button-shape button,
#subscribe-button yt-button-shape button,
ytd-subscribe-button-renderer yt-button-shape button,
#subscribe yt-button-shape a[aria-label="Subscribe"],
#subscribe-button yt-button-shape a[aria-label="Subscribe"],
ytd-subscribe-button-renderer yt-button-shape a[aria-label="Subscribe"] {
    text-transform: uppercase !important;
}