:root {
    --subscribe-red: #ff0000;
    --text: #ffffff;
    --light-blue: #50a0f0;
    --dark-blue: #005fd2;
    --dark-background: #303030;
    --light-background: #ffffff;
    --border-radius-rect: 10px; 
}