/* Makes sure SUBSCRIBED BUTTON IS GRAY */
#subscribe-button yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal,
ytd-subscribe-button-renderer yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal {
    color: var(--yt-spec-text-secondary) !important;
    background-color: var(--yt-spec-badge-chip-background) !important;
}

/* Makes SUBSCRIBE BUTTON Red */
ytd-subscribe-button-renderer yt-button-shape button,
#subscribe yt-button-shape a[aria-label="Subscribe"],
#subscribe-button yt-button-shape a[aria-label="Subscribe"],
ytd-subscribe-button-renderer yt-button-shape a[aria-label="Subscribe"] {
    color: var(--yt-spec-static-brand-white) !important;
    background-color: var(--yt-spec-brand-button-background) !important;
    text-transform: uppercase !important;
}