/* Makes sure SUBSCRIBED BUTTON IS GRAY */
#subscribe-button yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal,
ytd-subscribe-button-renderer yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal {
    color: var(--yt-spec-text-secondary) !important;
    background-color: var(--yt-spec-badge-chip-background) !important;
}

/* Makes SUBSCRIBE BUTTON Red */
#subscribe yt-button-shape button,
#subscribe-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-subscribe-button-renderer yt-button-shape button,
#subscribe yt-button-shape a[aria-label="Subscribe"],
#subscribe-button yt-button-shape a[aria-label="Subscribe"],
ytd-subscribe-button-renderer yt-button-shape a[aria-label="Subscribe"] {
    color: var(--yt-spec-static-brand-white) !important;
    background-color: var(--yt-spec-brand-button-background) !important;
    text-transform: uppercase !important;
}

/* RETURNS BACKGROUND TO UNSUBSCRIBE on SHORTS */
html[dark] ytd-shorts #subscribe-button yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal {
    background-color: #303030 !important;
}
html:not([dark]) ytd-shorts #subscribe-button yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal {
    background-color: #f2f2f2 !important;
}

/* Makes JOIN BUTTON Blue */
#sponsor yt-button-shape button,
#sponsor-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-sponsor-button-renderer yt-button-shape button,
#sponsor yt-button-shape a[aria-label="Join"],
#sponsor-button yt-button-shape a[aria-label="Join"],
ytd-sponsor-button-renderer yt-button-shape a[aria-label="Join"] {
    color: white !important;
    background-color: #075fd4 !important;
    stroke-width: 1vw;
    text-transform: uppercase !important;
}

/* Makes PURCHASE BUTTON Red */
#purchase yt-button-shape button,
#purchase-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-purchase-button-renderer yt-button-shape button,
#purchase yt-button-shape a[aria-label="Join"],
#purchase-button yt-button-shape a[aria-label="Join"],
ytd-purchase-button-renderer yt-button-shape a[aria-label="Join"] {
    color: white !important;
    background-color: #075fd4 !important;
    stroke-width: 1vw;
    text-transform: uppercase !important;
}
