:root {
    --subscribe-red: red;
    --light-blue: #50a3f1;
    --dark-blue: #075fd4;
    --dark-background: #303030;
    --light-background: #f2f2f2; 
}

/* Makes SUBSCRIBE BUTTON Red */
#subscribe yt-button-shape button,
#subscribe-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-subscribe-button-renderer yt-button-shape button,
#subscribe yt-button-shape a[aria-label="Subscribe"],
#subscribe-button yt-button-shape a[aria-label="Subscribe"],
ytd-subscribe-button-renderer yt-button-shape a[aria-label="Subscribe"] {
    color: var(--yt-spec-static-brand-white) !important;
    background-color: var(--subscribe-red) !important;
    text-transform: uppercase !important;
}
/* Makes sure SUBSCRIBED BUTTON IS GRAY */
#subscribe-button yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal,
ytd-subscribe-button-renderer yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal {
    color: var(--yt-spec-text-secondary) !important;
    background-color: var(--yt-spec-badge-chip-background) !important;
}
/* RETURNS BACKGROUND TO UNSUBSCRIBE on SHORTS */
html[dark] ytd-shorts #subscribe-button yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal {
    background-color: var(--dark-background) !important;
}
html:not([dark]) ytd-shorts #subscribe-button yt-button-shape button.yt-spec-button-shape-next.yt-spec-button-shape-next--tonal {
    background-color: var(--light-background) !important;
}

/* Makes JOIN BUTTON Blue */
#sponsor yt-button-shape button,
#sponsor-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-sponsor-button-renderer yt-button-shape button,
#sponsor yt-button-shape a[aria-label="Join"],
#sponsor-button yt-button-shape a[aria-label="Join"],
ytd-sponsor-button-renderer yt-button-shape a[aria-label="Join"] {
    color: white !important;
    background-color: var(--dark-blue) !important;
    stroke-width: 1vw;
    text-transform: uppercase !important;
}
/* Makes PURCHASE BUTTON Blue */
#purchase yt-button-shape button,
#purchase-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-purchase-button-renderer yt-button-shape button,
#purchase yt-button-shape a[aria-label="Join"],
#purchase-button yt-button-shape a[aria-label="Join"],
ytd-purchase-button-renderer yt-button-shape a[aria-label="Join"] {
    color: white !important;
    background-color: var(--dark-blue) !important;
    stroke-width: 1vw;
    text-transform: uppercase !important;
}
/* Makes BUY BUTTON Blue */
#buy yt-button-shape button,
#buy-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-buy-button-renderer yt-button-shape button,
#buy yt-button-shape a[aria-label="Join"],
#buy-button yt-button-shape a[aria-label="Join"],
ytd-buy-button-renderer yt-button-shape a[aria-label="Join"] {
    color: white !important;
    background-color: var(--dark-blue) !important;
    stroke-width: 1vw;
    text-transform: uppercase !important;
}
/* Makes ACTION BUTTON Blue */
#action yt-button-shape button,
#action-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-action-button-renderer yt-button-shape button,
#action yt-button-shape a[aria-label="Join"],
#action-button yt-button-shape a[aria-label="Join"],
ytd-action-button-renderer yt-button-shape a[aria-label="Join"] {
    color: white !important;
    background-color: var(--dark-blue) !important;
    stroke-width: 1vw;
    text-transform: uppercase !important;
}

/* Makes COPY BUTTON Blue */
#copy yt-button-shape button,
#copy-button yt-button-shape button,
/* Top 2 required for non-signed in */
ytd-copy-button-renderer yt-button-shape button,
#copy yt-button-shape a[aria-label="Join"],
#copy-button yt-button-shape a[aria-label="Join"],
ytd-copy-button-renderer yt-button-shape a[aria-label="Join"] {
    color: white !important;
    background-color: var(--dark-blue) !important;
    stroke-width: 1vw;
    text-transform: uppercase !important;
}
/* Makes engagment uppercase */
.yt-core-attributed-string--white-space-no-wrap {
    text-transform: uppercase !important;
}

/* Makes button blue when pressed */
/* does not work for animated like button */
button[aria-pressed="true"] {
    color: var(--light-blue) !important;
}
button[aria-pressed="true"] yt-icon yt-animated-icon path {
    stroke: var(--light-blue) !important;
    fill: var(--light-blue) !important; 
}